<ion-header>
  <ion-navbar>
    <!-- <ion-buttons start *ngIf="shwBckBtn">
      <button ion-button small (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>{{ "back" | translate }}
      </button>
    </ion-buttons> -->
    <ion-title>{{ "Live For " | translate }}{{ titleText }}</ion-title>
    <ion-buttons end>
      <button *ngIf="allData.tripStat != 'Started'" ion-button icon-only (click)="createTrip()">
        <ion-icon name="play"></ion-icon>
      </button>
      <button *ngIf="allData.tripStat == 'Started'" ion-button icon-only (click)="endTrip()">
        <ion-icon name="radio-button-on"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment mode="md" color="gpsc" scrollable="true" (ionChange)="segmentChanged($event)" [(ngModel)]="takeAction"
    style="background-color: white;">
    <ion-segment-button class="seg" style="padding-top: 3px;" value="live">
      <img src="assets/imgs/segment/map_active.png" style="width: 30px;" *ngIf="takeAction === 'live'" />
      <img src="assets/imgs/segment/map_inactive.png" style="width: 30px;" *ngIf="takeAction !== 'live'" />
    </ion-segment-button>
    <ion-segment-button style="padding-top: 3px;" value="history">
      <img src="assets/imgs/segment/history_active.png" style="width: 30px;" *ngIf="takeAction === 'history'" />
      <img src="assets/imgs/segment/history_inactive.png" style="width: 30px;" *ngIf="takeAction !== 'history'" />
    </ion-segment-button>
    <ion-segment-button style="padding-top: 3px;" value="trip">
      <img src="assets/imgs/segment/trip_active.png" style="width: 30px;" *ngIf="takeAction === 'trip'" />
      <img src="assets/imgs/segment/trip_inactive.png" style="width: 30px;" *ngIf="takeAction !== 'trip'" />
    </ion-segment-button>
    <ion-segment-button style="padding-top: 3px;" value="notif">
      <img src="assets/imgs/segment/bell_active.png" style="width: 30px;" *ngIf="takeAction === 'notif'" />
      <img src="assets/imgs/segment/bell_inactive.png" style="width: 30px;" *ngIf="takeAction !== 'notif'" />
    </ion-segment-button>
    <ion-segment-button style="padding-top: 3px;" value="car_service">
      <img src="assets/imgs/segment/car_service_active.png" style="width: 30px;" *ngIf="takeAction === 'car_service'" />
      <img src="assets/imgs/segment/car_service_inactive.png" style="width: 30px;"
        *ngIf="takeAction !== 'car_service'" />
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content *ngIf="!hideMe">

  <ion-fab right style="margin-top:85%">
    <button ion-fab color="gpsc" mini (click)="reCenterMe()">
      <ion-icon name="locate"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab right style="margin-top:98%">
    <button color="gpsc" ion-fab (click)="zoomin()" mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab right style="margin-top:111%">
    <button color="gpsc" ion-fab (click)="zoomout()" mini>
      <ion-icon name="remove"></ion-icon>
    </button>
  </ion-fab>


  <ion-fab left style="margin-top:59%">
    <button ion-fab [ngStyle]="{'background-color': policeButtonColor}" mini (click)="showNearby('police')">
      <!-- <img type="image/svg+xml" src="/assets/icon/police-station.svg"> -->
      <ion-icon name="custom-station" [ngStyle]="{'color': policeColor}"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab left style="margin-top:72%">
    <button ion-fab [ngStyle]="{'background-color': petrolButtonColor}" mini (click)="showNearby('petrol')">
      <!-- <img type="image/svg+xml" src="/assets/icon/fuel-service.svg"> -->
      <ion-icon name="custom-fuel" [ngStyle]="{'color': petrolColor}"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab left style="margin-top:85%">
    <button ion-fab color="gpsc" mini (click)="refreshMe1()">
      <ion-icon name="refresh"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab left style="margin-top:98%">
    <button ion-fab [ngStyle]="{'background-color': streetviewButtonColor}" mini (click)="streetView()">
      <ion-icon name="custom-street" [ngStyle]="{'color': streetColor}"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab left style="margin-top:111%">
    <button ion-fab [ngStyle]="{'background-color': navigateButtonColor}" mini (click)="navigateFromCurrentLoc()">
      <ion-icon name="navigate" [ngStyle]="{'color': navColor}"></ion-icon>
    </button>
  </ion-fab>

  <ion-row *ngIf="showDistDuration"
    style="margin-top:72%; background-color: rgb(0, 0, 0, 0.5); font-size: 0.8em; color: white;border-radius: 25px;width: 70%;margin: auto; padding:5px;">
    <ion-col style="background-color: transparent; text-align: center;" col-6>
      {{ "Distance" | translate }} {{ expectation.distance }}
    </ion-col>
    <ion-col style="background-color: transparent; text-align: center;" col-6>
      {{ "Time" | translate }} {{ expectation.duration }}
    </ion-col>
  </ion-row>
  <div id="map_canvas_single_device">
    <ion-row>
      <ion-col>
        <ion-fab top left>
          <button ion-fab color="light" mini (click)="onClickMainMenu()">
            <ion-icon color="gpsc" name="map"></ion-icon>
          </button>
          <ion-fab-list side="bottom">
            <button style="margin: 0 2px;" ion-fab mini (click)="onClickMap('HYBRID')" color="gpsc">
              S
            </button>
            <button style="margin: 1px 0px 1px 0px;" ion-fab mini (click)="onClickMap('TERRAIN')" color="gpsc">
              T
            </button>
            <button style="margin: 1px 0px 1px 0px;" ion-fab mini (click)="onClickMap('NORMAL')" color="gpsc">
              N
            </button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>
      <ion-col>
        <p class="blink" style="text-align: center;font-size:24px;color: green;font-weight: 600;"
          *ngIf="vehicle_speed <= 60">
          {{ vehicle_speed }}
          <span style="font-size:16px;">{{ "Km/hr" | translate }}</span>
        </p>
        <p class="blink" style="text-align: center;font-size:24px;color: red;font-weight: 600;"
          *ngIf="vehicle_speed > 60">
          {{ vehicle_speed }}
          <span style="font-size:16px;">{{ "Km/hr" | translate }}</span>
        </p>
      </ion-col>
      <ion-col>
        <ion-fab top right>
          <button ion-fab color="gpsc" mini>
            <ion-icon name="arrow-dropdown"></ion-icon>
          </button>
          <ion-fab-list side="bottom">
            <button color="gpsc" style="margin: 1px 0px 1px 0px;" ion-fab *ngIf="showShareBtn"
              (click)="shareLive($event)">
              <ion-icon name="share"></ion-icon>
            </button>
            <button color="gpsc" style="margin: 1px 0px 1px 0px;" ion-fab (click)="onSelectMapOption('mapTrail')"
              [ngStyle]="{'background-color': eyeBtnColor}">
              <ion-icon name="eye" [ngStyle]="{'color': eyeColor}"></ion-icon>
            </button>
            <button color="gpsc" style="margin: 1px 0px 1px 0px;" ion-fab (click)="onSelectMapOption('mapHideTraffic')">
              <img src="assets/icon/trafficON.png" *ngIf="mapHideTraffic" />
              <img src="assets/icon/trafficOFF.png" *ngIf="!mapHideTraffic" />
            </button>
            <button color="gpsc" style="margin: 1px 0px 1px 0px;" ion-fab (click)="settings()">
              <ion-icon name="cog"></ion-icon>
            </button>
            <button color="gpsc" style="margin: 1px 0px 1px 0px;" ion-fab (click)="addPOI()">
              <ion-icon name="flag"></ion-icon>
            </button>
          </ion-fab-list>
        </ion-fab>
      </ion-col>
    </ion-row>
  </div>
  <div id="viewParanoma" style="width: 100%;height: 300px;"></div>
  <!-- <div *ngIf="showStreetMap" id="viewParanoma" style="width: 100%;height: 300px;"></div> -->
  <!-- </div> -->
</ion-content>
<div *ngIf="showActionSheet" class="divPlan">
  <ion-bottom-drawer [(state)]="drawerState" [dockedHeight]="dockedHeight" [shouldBounce]="shouldBounce"
    [distanceTop]="distanceTop" [minimumHeight]="minimumHeight" [transition]="transition" (click)="setDocHeight()">
    <div class="drawer-content">
      <!-- <p padding-left style="font-size: 13px; padding-bottom: 3px; color:cornflowerblue;">
        {{ "Last Updated On" | translate }} &mdash;
        {{ last_ping_on | date: "medium" }}

        <span style="text-align: right;">
          <img src="assets/imgs/statusIcons/car-battery-active.png" width="20" height="20" />
        </span>
      </p> -->
      <ion-row style="margin-bottom: -10px;">
        <ion-col col-9 no-padding>
          <p padding-left style="font-size: 13px; color:cornflowerblue;">
            {{ "Last Updated On" | translate }} &mdash;
            {{ last_ping_on | date: "medium" }}
          </p>
        </ion-col>
        <!-- <ion-col col-1 no-padding style="padding-top: 13px;">
          <img src="assets/imgs/car-battery.png" width="15" height="15" />
        </ion-col> -->
        <ion-col col-3 no-padding style="text-align: right; padding-right: 20px;">

          <p style="font-size: 13px;">
            <!-- <img src="assets/imgs/car-battery.png" width="15" height="15" /> -->
            <ion-icon name="battery-charging" style="color: #11a46e;"></ion-icon>
            &nbsp;{{battery_percent}} %
          </p>
        </ion-col>
      </ion-row>
      <p padding-left style="font-size: 13px" *ngIf="!address">N/A</p>
      <p padding-left style="font-size: 13px" *ngIf="address">{{ address }}</p>
      <hr />
      <ion-row>
        <ion-col width-1 style="text-align:center">
          <img src="assets/imgs/statusIcons/ign_red.png" *ngIf="last_ACC == '0'" width="20" height="20" />
          <img src="assets/imgs/statusIcons/ign_green.png" *ngIf="last_ACC == '1'" width="20" height="20" />
          <img src="assets/imgs/statusIcons/ign_idle.png" *ngIf="last_ACC == null" width="20" height="20" />
          <p>{{ "IGN" | translate }}</p>
        </ion-col>
        <ion-col width-1 style="text-align:center">
          <img src="assets/imgs/statusIcons/ac_na.png" *ngIf="acModel == null" width="20" height="20" />
          <img src="assets/imgs/statusIcons/ac_present.png" *ngIf="acModel == '1'" width="20" height="20" />
          <img src="assets/imgs/statusIcons/ac_empty.png" *ngIf="acModel == '0'" width="20" height="20" />
          <p>{{ "AC" | translate }}</p>
        </ion-col>
        <ion-col width-1 style="text-align:center">
          <img src="assets/imgs/statusIcons/fuel_available.png" *ngIf="currentFuel != null" width="20" height="20" />
          <img src="assets/imgs/statusIcons/fuel_empty.png" *ngIf="currentFuel == null" width="20" height="20" />
          <p>{{ "FUEL" | translate }}</p>
        </ion-col>
        <ion-col width-1 style="text-align:center">
          <img src="assets/imgs/statusIcons/power_na.png" *ngIf="power == null" width="20" height="20" />
          <img src="assets/imgs/statusIcons/pwer_disconnected.png" *ngIf="power == '0'" width="20" height="20" />
          <img src="assets/imgs/statusIcons/power_connected.png" *ngIf="power == '1'" width="20" height="20" />
          <p>{{ "POWER" | translate }}</p>
        </ion-col>
        <ion-col width-1 style="text-align:center">
          <img src="assets/imgs/statusIcons/gps_na.png" *ngIf="gpsTracking == null" width="20" height="20" />
          <img src="assets/imgs/statusIcons/gps_notPresent.png" *ngIf="gpsTracking == '0'" width="20" height="20" />
          <img src="assets/imgs/statusIcons/gps_present.png" *ngIf="gpsTracking == '1'" width="20" height="20" />
          <p>{{ "GPS" | translate }}</p>
        </ion-col>
        <ion-col width-1 style="text-align:center">
          <ion-icon name="thermometer" *ngIf="tempreture == null" style="color: gray; font-size: 1.6em;"></ion-icon>
          <ion-icon name="thermometer" *ngIf="tempreture == '0'" color="danger" style="font-size: 1.6em;"></ion-icon>
          <ion-icon name="thermometer" *ngIf="tempreture == '1'" color="secondary" style="font-size: 1.6em;"></ion-icon>
          <p>{{ "Temp" | translate }}</p>
        </ion-col>
        <ion-col width-1 style="text-align:center">
          <img src="assets/imgs/statusIcons/car_no_data.png" *ngIf="door == null" width="20" height="20" />
          <img src="assets/imgs/statusIcons/car_door_open.png" *ngIf="door == 0" width="20" height="20" />
          <img src="assets/imgs/statusIcons/car_door_close.png" *ngIf="door == 1" width="20" height="20" />
          <p>{{ "Door" | translate }}</p>
        </ion-col>
        <!-- <ion-col width-1 style="text-align:center">
          <img src="assets/imgs/statusIcons/car-battery-na.png" *ngIf="battery_percent == null" width="20" height="20" />
          <img src="assets/imgs/statusIcons/car-battery-inactive.png" *ngIf="battery_percent == 0" width="20" height="20" />
          <img src="assets/imgs/statusIcons/car-battery-active.png" *ngIf="battery_percent == 1" width="20" height="20" />
          <p>{{ "Battery" | translate }}</p>
        </ion-col> -->
      </ion-row>
      <hr />
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!total_odo">
            N/A
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="total_odo">
            {{ total_odo | number: "1.0-2" }}
          </p>
          <p style="font-size: 13px">{{ "Odometer" | translate }}</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!vehicle_speed">
            0 {{ "Km/hr" | translate }}
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="vehicle_speed">
            {{ vehicle_speed }} {{ "Km/hr" | translate }}
          </p>
          <p style="font-size: 13px">
            {{ "Speed" | translate }}
          </p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="fuel">
            {{ fuel }}
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!fuel">N/A</p>
          <p style="font-size: 13px">{{ "Fuel" | translate }}</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="voltage">
            {{ voltage | number: "1.0-2" }}
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!voltage">N/A</p>
          <p style="font-size: 13px">{{ "Voltage" | translate }}</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="tempreture">
            {{ tempreture | number: "1.0-2" }}
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!tempreture">N/A</p>
          <p style="font-size: 13px">{{ "Temp" | translate }}</p>
        </ion-col>
      </ion-row>
      <hr />
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!distFromLastStop">
            0 {{ "Kms" | translate }}
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="distFromLastStop">
            {{ distFromLastStop | number: "1.0-2" }} {{ "Kms" | translate }}
          </p>
          <p style="font-size: 13px">{{ "From Last Stop" | translate }}</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img src="assets/imgs/milestone-png-1.png" width="30" height="35" style="margin-top: 9%" />
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!todays_odo">
            0 {{ "Kms" | translate }}
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="todays_odo">
            {{ todays_odo | number: "1.0-2" }} {{ "Kms" | translate }}
          </p>
          <p style="font-size: 13px">{{ "Total" | translate }}</p>
        </ion-col>
      </ion-row>
      <hr />
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!timeAtLastStop">
            N/A
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="timeAtLastStop">
            {{ timeAtLastStop }}
          </p>
          <p style="font-size: 13px">{{ "At Last Stop" | translate }}</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img src="assets/imgs/parkinglogo.png" width="30" height="30" style="margin-top: 9%" />
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!today_stopped">
            N/A
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="today_stopped">
            {{ today_stopped }}
          </p>
          <p style="font-size: 13px">{{ "Total" | translate }}</p>
        </ion-col>
      </ion-row>
      <hr />
      <ion-row>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!lastStoppedAt">
            N/A
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="lastStoppedAt">
            {{ lastStoppedAt }}
          </p>
          <p style="font-size: 13px">{{ "From Last Stop" | translate }}</p>
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <img src="assets/imgs/2530791.png" width="30" height="35" style="margin-top: 9%" />
        </ion-col>
        <ion-col width-33 style="text-align:center">
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="!today_running">
            N/A
          </p>
          <p style="font-size: 14px; font-weight: bold; margin: 0px; padding: 0px;" *ngIf="today_running">
            {{ today_running }}
          </p>
          <p style="font-size: 13px">{{ "Total" | translate }}</p>
        </ion-col>
      </ion-row>
    </div>
  </ion-bottom-drawer>
</div>

<div *ngIf="showFooter">
  <ion-bottom-drawer [(state)]="drawerState1" [dockedHeight]="dockedHeight1" [shouldBounce]="shouldBounce"
    [distanceTop]="distanceTop1" [minimumHeight]="minimumHeight1">
    <div class="drawer-content">
      <p style="font-size:1.2em; color:black;">
        {{ "Share Live Vehicle" | translate }}
      </p>
      <ion-row>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{ condition }}" (click)="sharedevices('15mins')">
            {{ "15 mins" | translate }}
          </button>
        </ion-col>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{ condition1 }}" (click)="sharedevices('1hour')">
            {{ "1 hour" | translate }}
          </button>
        </ion-col>
        <ion-col col-4 style="padding: 5px">
          <button ion-button block color="{{ condition2 }}" (click)="sharedevices('8hours')">
            {{ "8 hours" | translate }}
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4 style="text-align: right;">
          <ion-fab style="right: calc(10px + env(safe-area-inset-right));">
            <button ion-fab mini (click)="shareLivetemp()" color="gpsc">
              <ion-icon name="send" color="black"></ion-icon>
            </button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </div>
  </ion-bottom-drawer>
</div>